POSTGRES_DB=carshopdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_PORT=5432

MQTT_PORT=1883
MQTT_WS_PORT=9001

BACKEND_PORT=4000
WORLD_DRIVE_PORT=4003
WORLD_DRIVE_SERVICE_URL=http://service-world-drive:4003
FRONTEND_PORT=3000
NEXT_PUBLIC_FRONTEND_PUBLIC_URL=FRONTEND_PUBLIC_URL

NGROK_AUTHTOKEN=NGROK_AUTHTOKEN

MINIO_ENDPOINT=localhost
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9002
MINIO_USE_SSL=false

