COMPOSE_PROFILES=prod

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password

CAR_MODELS_POSTGRES_DB=carshopdb
CAR_MODELS_POSTGRES_PORT=5432

WEBSHOP_POSTGRES_DB=webshopdb
WEBSHOP_POSTGRES_PORT=5433

WORLD_DRIVE_POSTGRES_DB=worlddrivedb
WORLD_DRIVE_POSTGRES_PORT=5434

MQTT_PORT=1883
MQTT_WS_PORT=9001

CAR_MODELS_PORT=4001
WEBSHOP_PORT=4003
SERVICE_MYPSECARS_PORT=4004
WORLD_DRIVE_PORT=4005
FRONTEND_PORT=3000
NEXT_PUBLIC_FRONTEND_PUBLIC_URL=FRONTEND_PUBLIC_URL

NGROK_AUTHTOKEN=3FYOpl5SzYeZDdOxK8UZS7e1RaD_6tQibRDvWuyHiWb94rBLp

MINIO_ENDPOINT=localhost
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9002
MINIO_USE_SSL=false
