POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password

CAR_MODELS_POSTGRES_DB=carshopdb
CAR_MODELS_POSTGRES_PORT=5432

WEBSHOP_POSTGRES_DB=webshopdb
WEBSHOP_POSTGRES_PORT=5433

MQTT_PORT=1883
MQTT_WS_PORT=9001

BACKEND_PORT=4000
CAR_MODELS_PORT=4001
FRONTEND_PORT=3000
SERVICE_MYPSECARS_PORT=4004
WEBSHOP_PORT=4003
NEXT_PUBLIC_FRONTEND_PUBLIC_URL=FRONTEND_PUBLIC_URL

NGROK_AUTHTOKEN=NGROK_AUTHTOKEN

MINIO_ENDPOINT=localhost
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9002
MINIO_USE_SSL=false
